html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: #282828;
    color: white;
    font-family: sans-serif;
}

#game {

}

.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid currentColor;
    font-size: 2rem;
}

.tile.absent {
    background: #666;
}

.tile.present {
    background: yellow;
    color: black;
}

.tile.correct {
    background: green;
}

output {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
